*{
    text-align:center;
}
body{
    background-color: #ffffff;
    justify-items: center;
    text-align:center;
}
#title{
    color:black;
}
h3{
    color:black;
}
#conversor{
    color:black;
    justify-items: center;
    text-align:center;
    
}
#divNumero{
    padding:1%;
}
#lblNumero{
    font-weight: bold;
}
#numero{
    margin-top:1%;
}
#divResposta{
    padding:1%;
}
#lblResposta{
    font-weight: bold;

}
#resposta{
    margin-top:1%;
}
#botao{
    margin:3%;
}
#hResposta{
    color:black;
}