*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
/*GENERAL*/
body{
    height:100hv;
    width:100vw;
}
/*MAIN CONTAIN*/
main{
    display:grid;
    justify-content:center;
}
#Formatador{
    display:grid;
    justify-content:center;
}



/*FOOTER*/
footer{
    display:grid;
    justify-content:center;
    margin-top:100vh;
    background-color:blue;
}